/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding-top: 30px;
  background: #f7f7f7
}

section {
  min-width: 600px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.mat-tab-label {
  min-width: 8em !important;
}